.top-navigation {
    display: none;
}

.topMenuItem {
    list-style-type: none;
}
.topMenuLink:focus {
outline: none;
}
.topMenuLink:hover {
    background-color: lavenderblush;
}
.topMenuLink {
    text-decoration: none;
    cursor: pointer;
}


@media screen and (max-width: 480px) {

.topMenu {
    display: none;
    padding: 0;
}
.topMenuLink {
    width:100%;
    border: none;
    background-color: white;
    padding: 2%;
}
.top-navigation {
    display: block;
   margin: 15px;
}
}


@media screen and (min-width:481px) and (max-width: 680px) {

.topMenu {
    display: flex;
    padding: 0;
    width:100%;
    background-color: lavenderblush;
}
.topMenuLink {
    background-color: lavenderblush;
    padding: 15px;
    border: none;
}
.topMenuLink:hover {
background-color: white;
}
.topMenuItem:hover {
   text-decoration: underline;
   color: blueviolet;
}
}
